@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f1f5f9; /* Soft background */
    color: #334155;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer components {
  .card-shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05), 0 2px 4px -2px rgb(0 0 0 / 0.05);
  }
}
